.rectangle-icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-icon4 {
  position: absolute;
  height: 82.99%;
  width: 26.67%;
  top: 8.53%;
  right: 4.86%;
  bottom: 8.48%;
  left: 68.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group13 {
  width: 1440px;
  position: relative;
  height: 776px;
  text-align: left;
  font-size: var(--display-large-size);
  color: var(--color-white);
  font-family: var(--m3-display-large);
}
